
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
   
  }
  
  #data-container {
    text-align: center;
    min-width: 250px;
  }
  
  h1 {
    color: #000000;
    font-family: 'Leckerli One', cursive;
    font-size: 2rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 2px 2px;
  }

  .code {
    margin-top: 7px;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .code:hover {
    background-color: #575149;
  }
  
  .code.active {
    background-color: #b3e0ff;
  }
  
  .notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: animate-fade 0.3s ease;
  }
  
  @keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  